<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/employer-layout}">
<head>
    <title>EZ Jobs | Quản lý cv ứng tuyển</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" id="content">
	<div class="col-sm-3 col-sm-3 col-sm-2 col-xl-2"></div>
    <div class="col-sm-9 col-md-9 col-lg-10 col-xl-10" >
    	<h2 class="text-center mt-5">Danh sách CV ứng tuyển</h2>
        
        <div class="row mt-5">
        	<div class="col-2"></div>
        	<form class="row form-inline col-8 align-items-center" th:action="@{'/employer/job/' + ${jobId} + '/candidates' }" method="get">
        		<div class="form-group col-sm-9 col-md-9 col-lg-9 col-xl-9">
	            	<input type="text" name="q" id="searchBar" class="form-control form-item  w-100" placeholder="Tên ứng viên"  th:value="${param.q}">
	            </div>
	            <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
	                <button class="btn btn-secondary bg-light form-item w-100 form-item" type="submit"><i class="fas text-dark fa-search mr-2"></i></button>
	            </div>
        	</form>
        </div>
        
        <div class="row mt-4">
	        	<div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2"  th:if="${!listCVs.empty}">
	        		<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">STT</th>
					      <th scope="col">Họ tên</th>
					      <th scope="col">Số điện thoại</th>
					      <th scope="col">Địa chỉ</th>
					      <th scope="col">Thời gian</th>
					      <th scope="col">Xem CV</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="cv, index : ${listCVs}">
					      <th scope="row" th:text="${index.count}">1</th>
					      <td th:text="${cv.fullname}"></td>
					      <td th:text="${cv.phoneNumber}"></td>
					      <td th:text="${cv.address}"></td>
					      <td th:text="${''+ T(ezjob.util.DateUtil).getDateFormat(cv.datetime)}"></td>
					      <td><a class="btn btn-primary" th:href="@{'/cv/' + ${cv.cvId} + ''}" target="_blank">Xem</a> </td>
					      
					    </tr>
					  </tbody>
					</table>
					<div class="row justify-content-center" th:if="${listCVs.totalPages > 1}">
						<nav aria-label="...">
						  <ul class="pagination" >
						  	<th:block th:each="pageNumber : ${pageNumbers}" 
						  				th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
							     <li th:class="${pageNumber==listCVs.number + 1} ? 'active page-item' : 'page-item'">
							     	<a th:href="@{${urlBuilder.replaceQueryParam('page', pageNumber).toUriString()}}"
									        th:text=${pageNumber}
									        class="page-link">
									 </a>
								</li>
							</th:block>
						  </ul>
						</nav>
					</div>
	        	</div>
	        	<div class="row justify-content-center w-100" th:if="${listCVs.empty}">
	        		<h3 class="text-info">Chưa có ứng viên nào</h3>
	        	</div>	
        </div>
    </div>    
</div>
</body>
</html>