<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/employer-layout}">
<head>
    <title>EZ Jobs | Quản lý cv ứng tuyển</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" id="content">
	<div class="col-sm-3 col-sm-3 col-sm-2 col-xl-2"></div>
    <div class="col-sm-9 col-md-9 col-lg-10 col-xl-10" >
    	<h2 class="text-center mt-5">Danh sách CV ứng tuyển</h2>
              
        <div class="row mt-4">
	        	<div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2"  th:if="${!listCVs.empty}">
	        		<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">STT</th>
					      <th scope="col">Họ tên</th>
					      <th scope="col">Số điện thoại</th>
					      <th scope="col">Địa chỉ</th>
					      <th scope="col">Thời gian</th>
					      <th scope="col">Xem CV</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="cv, index : ${listCVs}">
					      <th scope="row" th:text="${index.count}">1</th>
					      <td th:text="${cv.fullname}"></td>
					      <td th:text="${cv.phoneNumber}"></td>
					      <td th:text="${cv.address}"></td>
					      <td th:text="${''+ T(ezjob.util.DateUtil).getDateFormat(cv.datetime)}"></td>
					      <td><a class="btn btn-primary" th:href="@{'/cv/' + ${cv.cvId} + ''}" target="_blank">Xem</a> </td>
					      
					    </tr>
					  </tbody>
					</table>
	        	</div>	
        </div>
    </div>    
</div>
</body>
</html>