<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <title>EZ Jobs | Thông tin ứng viên  </title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  	<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>
<body>
<div layout:fragment="content" th:remove="tag" id="content">
    	<h2 class="text-center" style="color: #30336b;"> Hồ sơ của tôi  </h2>
    	 <div class="container" >
      	<div class="row">
       	 <div class="col-md-12">
        	  <form class="" th:action=@{candidate-info} method="POST" th:object="${candidate}"  enctype="multipart/form-data" >
        	  	<input type="hidden" th:field="*{user}">
        	  	<input type="hidden" th:field="*{candidateId}">
        	    <div class="form-group"> <label>  Địa chỉ Email:   </label>  <span th:utext="*{user.email}"></span>
        		       	   
        		</div>
        				  
             	<div class="form-group"> 
             		<label>Tên</label> <input type="text" class="form-control" id="fullname"  th:field="*{fullname}" > </div>
             	   
             	<div class="form-group" >
             		 <label>CV</label>   <span th:utext="*{path_file_cv}"></span> 
             		 <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
             		 <input type="file" class="form-control-file" accept=".pdf"  name="file"  id="file"   th:field="*{path_file_cv}" > </div> 
             	   	 <button type="submit" class="btn btn-primary">Lưu thay đổi </button> 	   	 
        	  </form>
        	  <form class="" th:action=@{candidate-info/view} method="GET" th:object="${candidate}" enctype="multipart/form-data" >
        	  <input type="hidden" th:field="*{user}">
        	  	<input type="hidden" th:field="*{candidateId}">
        	  	<input type="hidden" th:field="*{path_file_cv}">   	  
        		  <button type="submit"  class="btn btn-primary">   Xem CV </button>  
        	  </form>
     	  	 </div>
    	  </div>
    	</div>
       		
</div>



</body>
</html>