<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="sidebar">
	<div class="col-sm-3 col-md-3 col-lg-2 col-xl-2 vh-100 position-fixed" id="side-bar" style="z-index: 2;">
                <div style="height: 90%;">
                    <nav class="navbar navbar-light mb-auto mt-4" >
                    	<div class="w-100"><h4 class="mb-3 text-center">Nhà tuyển dụng</h4></div>
                        <ul class="w-100">
                            <li class="nav-item item">
                            	<a class="nav-link text-white" href="/employer/job"><i class="fas fa-briefcase mr-2"></i>Quản lý thông tin việc làm</a>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li class="nav-item item">
                                <a class="nav-link text-white" href="/employer/info"> <i class="fas fa-info-circle mr-2"></i> Quản lý thông tin</a>
                                <div class="dropdown-divider"></div>
                            </li>
                           
                        </ul>
                    </nav>
                </div>
                
                <div class="sb-sidenav-footer text-center" id="footer" style="height: 10%;">
                  <p>&copy; TI30h3</p>
              	</div>
    </div>		
</th:block>
</body>
</html>