<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<th:block th:fragment="footer">
	
	<div class="bg-dark" style="height: 300px">
		<div class="container pt-5">
			<div class="row justify-content-center" style="height: 50px">
				<div class="col-2 text-center">
					<a href="https://facebook.com/xuanngocb" target="_blank"><i class="fab fa-facebook-square text-white" style="font-size: 50px"></i></a> 
				</div>
				<div class="col-2 text-center">
					<a href="https://github.com/xuanngoc/Recruitment-System" target="_blank"><i class="fab fa-github-square text-white" style="font-size: 50px"></i></a>
				</div>
				<div class="col-2 text-center">
					<a href="#"><i class="fab fa-twitter-square text-white" style="font-size: 50px"></i></a>
				</div>
			</div>
			<div class="row justify-content-center mt-5">
				<h2 class="text-white">EZ Jobs</h2>
			</div>
			
		</div>
		<div class="row justify-content-end mt-5">
			<span class="text-white mr-5">© 2020</span>
		</div>
	</div>
	
		
</th:block>
</body>
</html>