<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/employer-layout}">
<head>
    <title>EZ Jobs | Quản lý thông tin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag" id="content">
	<div class="col-sm-3 col-sm-3 col-sm-2 col-xl-2"></div>
    <div class="col-sm-9 col-md-9 col-lg-10 col-xl-10" >
    	<h2 class="text-center mt-5">Quản lý thông tin</h2>
        
        <div class="row mt-5">
        	<div class="col-sm-2 col-md-3"></div>
        	<form class="col-sm-8 col-md-6" th:action=@{info} method="POST" th:object="${employer}" enctype="multipart/form-data">
        		<input type="hidden" th:field="*{employerId}" />
        		<input type="hidden" th:field="*{user}" />
        		
        		<div class="form-group">
				    <label for="companyName">Tên công ty</label>
				    <input type="text" class="form-control input-element" id="companyName" th:field=*{companyName} disabled>
				</div>
				<div class="form-group">
				    <label for="city">Thành phố</label>
				    <input type="text" class="form-control input-element" id="city" th:field=*{city} disabled>
				</div>
				<div class="form-group">
				    <label for="country">Quốc gia</label>
				    <input type="text" class="form-control input-element" id="country" th:field=*{country} disabled>
				</div>
				<div class="form-group">
				    <label for="type">Loại công ty</label>
				    <input type="text" class="form-control input-element" id="type" th:field=*{type} disabled>
				</div>
				<div class="form-group">
				    <label for="size">Quy mô nhân viên</label>
				    <input type="number" class="form-control input-element" id="size" th:field=*{size} disabled>
				</div>
				<div class="form-group">
				    <label for="address ">Địa chỉ</label>
				    <input type="text" class="form-control input-element" id="address" th:field=*{address} disabled>
				</div>
				<label for="day ">Ngày làm việc</label>
				<div class="row">
					<div class="col-sm-0 col-md-2"></div>
					<div class="form-group col-sm-3">
					    <label for="companyName">Từ</label>
					    <select class="form-control input-element" id="startingDay" th:field=*{dayStartingOfWeek} disabled>
					      <option value="Thứ 2"selected>Thứ 2</option>
					      <option value="Thứ 3" >Thứ 3</option>
					      <option value="Thứ 4">Thứ 4</option>
					      <option value="Thứ 5">Thứ 5</option>
					      <option value="Thứ 6">Thứ 6</option>
					      <option value="Thứ 7">Thứ 7</option>
					      <option value="Thứ 8">Chủ nhật</option>
					    </select>
					</div>
					<div class="col-sm-0 col-md-2"></div>
					<div class="form-group col-sm-3">
					    <label for="endingDay">Đến</label>
					    <select class="form-control input-element" id="endingDay" th:field=*{dayEndingOfWeek} disabled>
					      <option value="Thứ 2">Thứ 2</option>
					      <option value="Thứ 3" >Thứ 3</option>
					      <option value="Thứ 4">Thứ 4</option>
					      <option value="Thứ 5">Thứ 5</option>
					      <option value="Thứ 6" selected>Thứ 6</option>
					      <option value="Thứ 7">Thứ 7</option>
					      <option value="Chủ nhật">Chủ nhật</option>
					    </select>
					</div>
					<div class="col-sm-0 col-md-2"></div>
				</div>
				<div class="form-group">
				    <label>Logo công ty</label><br>
				    <input id="path_file_image" class="input-element" style="display:none" type="file" name="path_file_image" accept="image/jpeg, image/png" onchange="readURL(this)" disabled>
				    <label class="btn btn-info ml-5 mr-5" id="changeImage" for="path_file_image" style="visibility: hidden;">Thay đổi ảnh</label>   
				    <img id="showImg" th:src="'/employer/' + *{employerId} + '/image'" width="200" height="200" alt="no image selected" />
				</div>				
				
				<div class="form-group">
				    <label for="description">Mô tả</label>
				    <textarea class="form-control input-element" id="description" rows="25" th:field=*{description} disabled></textarea>
				</div>
				<div class="row">
					<div class="col-md-4"></div>
		        	<button class="btn btn-primary col-md-4 mb-5" id="editInfoBtn" type="button" onclick="editInfo()">
		        		Sửa thông tin công ty
		        	</button>
		        	<button class="btn btn-primary col-md-4 mb-5 input-element" id="submitBtn" type="submit" style="display: none;">
		        		Lưu thông tin
		        	</button>
		        	
		        </div>	
		        	
        	</form>
        </div>
    </div>

    	<script>
			const md = new SimpleMDE({ element: document.getElementById("description"), spellChecker: false });
			md.togglePreview();
			
			const editInfo = () => {
				document.getElementById("editInfoBtn").style.display = "none";
				document.getElementById("submitBtn").style.display = "inline";
				document.getElementById("changeImage").style.visibility = "visible";
				const inputElement = document.getElementsByClassName("input-element");
				for(let i = 0; i < inputElement.length; i++) {
					inputElement[i].disabled = false;
				}
				md.togglePreview();
			}
			
		     function readURL(input) {
		            if (input.files && input.files[0]) {
		                var reader = new FileReader();
						console.log(input);
		                reader.onload = function (e) {
		                    $('#showImg')
		                        .attr('src', e.target.result)
		                        .width(250)
		                        .height(250);
		                };

		                reader.readAsDataURL(input.files[0]);
		            }
		     }
		</script>
</div>
</body>
</html>