<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/home-layout}">
<head>
    <title>EZ Jobs | Home</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" id="content">
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 offset-sm-0 offset-md-2 offset-lg-2 offset-xl-2" >
    	<ul class='login nav nav-tabs' role='tablist'>
<li class='active tab-signup' role='presentation'>
<a aria-expanded='true' data-toggle='tab' href='#signup-tab' role='tab'> Tạo tài khoản mới </a>
</li>
<li class='tab-signin' role='presentation'>
<a aria-expanded='false' data-toggle='tab' href='#signin-tab' role='tab'> Đăng nhập </a>
</li>
</ul>
<div class='tab-content'>
<div aria-labelledby='signup-tab' class='active fade in tab-pane' id='signup-tab' role='tabpanel'>
<div class='signup-tab-content'>


<div class='sign-in-action-wrapper'>
<div class='sign-in-button gplus button' data-signedin='false' onClick='signInActively()'>
<div data-signedin='false' id='g-signin2-signup'></div>
<a id="gplus-signin" rel="nofollow" href="#"><div class='icon gplus-icon'>
<i class="fa fa-google-plus"></i>
</div>
<div class='sign-in-text'>
Đăng kí với Google
</div>
</a></div>

</div>
<div class='hr'>
<hr>
<span>hoặc</span>
</div>

<form class="new_user" id="signup_form" role="form" data-remote="true" data-controller="users--sign-up" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="p30Xpyeq500tTPF2LM8vUPmxXUL0IExzB1eihge47KKCNJ00jqDMfsMtS/6w4QPBneDf1evOH4kPIYpJyucJEw==" /><div class='form-group'>
<input autofocus="autofocus" class="form-control" placeholder="Name" data-msg="Can&#39;t be blank" data-rule-maxlength="50" data-msg-maxlength="Maximum 50 characters" required="required" type="text" name="user[name]" id="user_name" />
<div class='validate text-left'></div>
<span class='form-control-feedback'>
<i class='fa'></i>
</span>
</div>
<div class='form-group'>
<input class="form-control" placeholder="Email" required="required" data-rule-email="true" data-rule-noplus="true" data-msg-noplus="Please check your email" data-msg="Can&#39;t be blank" data-msg-email="Please check your email" data-msg-remote="This email is already in use" type="email" value="" name="user[email]" id="user_email" />
<div class='validate text-left'></div>
<span class='form-control-feedback'>
<i class='fa'></i>
</span>
</div>
<div class='form-group'>
<input class="form-control" placeholder="Password" data-msg="Can&#39;t be blank" data-rule-minlength="8" data-msg-minlength="Minimum 8 characters" required="required" type="password" name="user[password]" id="user_password" />
<div class='validate text-left'></div>
<span class='form-control-feedback'>
<i class='fa'></i>
</span>
</div>
<input type="submit" name="commit" value="Tạo tài khoản" rel="nofollow" class="x-large ibutton ibutton-red ibutton-create-account" data-disable-with="Create My Account" />
</form></div>
</div>
<div aria-labelledby='signin-tab' class='fade tab-pane' id='signin-tab' role='tabpanel'>

<div class='sign-in-text'>
Đăng nhập với Google
</div>
<div class='sign-in-action-wrapper'>
<div class='sign-in-button gplus button' data-signedin='false' onClick='signInActively()'>
<div data-signedin='false' id='g-signin2-signin'></div>
<a id="gplus-signin" rel="nofollow" href="#"><div class='icon gplus-icon'>
<i class="fa fa-google-plus"></i>
</div>

</a></div>

</div>
<div class='hr'>
<hr>
<span>hoặc</span>
</div>

<form role="form" data-controller="users--sign-in" data-remote="true" action="/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="NhaDwrEHg464o1z9Yo/nv298qBuEX/mgnnM+iZyPgk6LRUAb06mw29FS1YrnRXNncPv88IEVcFHRZNRfmzCjyw==" /><div class='form-group'>
<div class='form-error text-left' data-target='users--sign-in.error'></div>
</div>
<div class='form-group'>
<input class="form-control" placeholder="Email" required="required" data-rule-email="true" data-msg-email="Please check your email" data-msg="Can&#39;t be blank" type="email" value="" name="user[email]" />
<div class='validate text-left'></div>
<span class='form-control-feedback'>
<i class='fa'></i>
</span>
</div>
<div class='form-group'>
<input class="form-control" placeholder="Password" required="required" data-rule-minlength="8" data-msg-minlength="Minimum 8 characters" data-msg="Can&#39;t be blank" type="password" name="user[password]" />
<div class='validate text-left'></div>
<span class='form-control-feedback'>
<i class='fa'></i>
</span>
</div>
<div class='form-group'>
<a class="right forgot-password" rel="nofollow" href="/users/password/new">Quên mật khẩu?</a>
</div>
<br>
<div class='form-group text-center'>
<input type="hidden" name="sign_in_then_review" value="false" />
<input type="hidden" name="locale" id="locale" value="en" />
<input type="submit" name="commit" value="Đăng nhập" class="button-red space ibutton x-large" data-disable-with="Sign in" />
</div>
</form>
</div>
</div>
<div class='response-confirmation'>


</div>
</div>
</div>
</div>
</div></div>

    </div>
	
</body>
</html>