<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >
<head>
    <title>EZ Jobs | Gửi yêu cầu làm nhà tuyển dụng thành công</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    
</head>
<body style="background-color: #ffffff" >
 	 
	<div class="jumbotron row align-items-center"  style="border-radius: 0px 0px 70px 0px; height: 500px; background-color: #fff"  >
		<div class="container">
	 		<h1 class="display-6 text-center">Yêu cầu làm nhà tuyển dụng của bạn đã được gửi thành công</h1>
	  		<p class="lead text-center" style="font-size: 23px;">Chúng tôi sẽ kiểm tra những thông tin bạn vừa gửi và gửi email phản hồi sớm nhất.</p>
	  		
	  		<div class="row mt-5">   
	  			<div class="col-4" > </div>
	  			<a class="btn btn-dark text-center col-4" th:href="@{/}">Quay lại trang chủ.</a>
	  		</div>
  		</div>
	</div>

</body>
</html>